*{
margin:0;
padding:0;
box-sizing:border-box;
}


body{
	
	.responsive-youtube
{overflow:hidden; padding-bottom:56.25%; position:relative; height:0;}
.responsive-youtube iframe
{left:0; top:0; height:100%; width:100%; position:absolute;}

}

body{
	opacity:0.9;
	background-image: url('https://cdn.wallpapersafari.com/62/38/H8cDVA.jpg') 

}

.image {
	width:80px;
	height:80px;
}
.header{
	position:relative;
	display:flex;
	justify-content:space-between;
	align-items:center;
	width:100%;
	background:black;

}

.nav {
	display:flex;
	
	justify-content:space-between;
	align-items:center;
	

}
.menu{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;

}
.menu li{
	list-style-type:none;
}
.menu li a{
	color: white;
	font-size:20px;
	font-weight:bold;
	text-decoration:none;
	padding:20px
	
}
.toggler, .burger{
	display:none;
	color:white;
	
	
}
.menu li a:hover{
	color:white;


}

		.nav ul li:hover{
		background-color: #4d79ff;
		transition:0.3s;
		border-radius:5px;
		
}

@media screen and (max-width: 700px){
	.burger{
		display:block;
		font-size:40px;
		z-Index:5;
		padding:20px;
	
	}
	.menu {
		justify-content:start;
		flex-direction:column;
		align-items:center;
		position:fixed;
		top:0;
		right:-300px;
		padding-top:80px;
		background-color: rgba(0,0,0,.4);
		color: #ffffff;
		width:200px;
		height:100%;
		transition:0.5s;
		
	}
	.menu li{
		padding:20px;
	}
	.toggler:checked ~ .menu{
		
		right:0;
		
	
	
	}
	
body{
	opacity:0.9;
	background-image: url('https://cdn.wallpapersafari.com/62/38/H8cDVA.jpg') 
}
		














